<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | GitLab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if description %}
  <meta name="description" content="{{ description }}">
  {% else %}
  <meta name="description" content="{{ content | strip_html | condense_spaces | truncate:130 }}">
  {% endif %}

  {% if categories %}
  <meta name="keywords" content="{{ categories }}">
  {% else %}
  <meta name="keywords" content="gitlab,git,version control, repository manager">
  {% endif %}

  <!-- social sharing metadata -->

  <meta content="{{ site.title }}" property="og:site_name">

  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}

  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}

  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ content | strip_html | condense_spaces | truncate:130 }}" property="og:description">
  {% endif %}

  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}

  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}

  {% if page.image_title %}
  <meta content="{{ site.url }}{{ page.image_title }}" property="og:image">
  {% else %}
  <meta content="{{ site.url }}/images/gitlab_logo.png" property="og:image">
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}

  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" />

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  {% include combined_stylesheets.html %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/ico/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/ico/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/ico/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/ico/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/ico/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#554488">
  <meta name="msapplication-TileImage" content="/ico/mstile-144x144.png">
  <meta name="msapplication-config" content="/ico/browserconfig.xml">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37019925-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body data-spy="scroll" data-target".qnav">
  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-gl-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if page.url == '/index.html' %}
        <a class="navbar-brand animated">{% include wm_web.svg %}</a>
        {% else %}
        <a class="navbar-brand animated" href="/">{% include wm_web.svg %}</a>
        {% endif %}
      </div>

      <div class="collapse navbar-collapse" id="main-gl-nav">
        <ul class="nav pull-right animated navbar-nav">
          <li><a href="/downloads/" onClick="ga('send', 'event', 'link', 'click', 'Download');">Download</a></li>
          <li><a href="/features/" onClick="ga('send', 'event', 'link', 'click', 'Features');">Features</a></li>
          <li><a href="/pricing/" onClick="ga('send', 'event', 'link', 'click', 'Pricing');">Pricing</a></li>
          <li><a href="/gitlab-com/" onClick="ga('send', 'event', 'link', 'click', 'GitLab.com');">GitLab.com</a></li>
          <li><a href="/gitlab-ci/" onClick="ga('send', 'event', 'link', 'click', 'GitLab CI');">GitLab CI</a></li>
          <li><a href="/community/" onClick="ga('send', 'event', 'link', 'click', 'Community');">Community</a></li>
          <li><a href="/blog/" onClick="ga('send', 'event', 'link', 'click', 'Blog');">Blog</a></li>
          <li><a href="https://gitlab.com/explore/" onClick="ga('send', 'event', 'link', 'click', 'Explore');">Explore</a></li>
          <li><a href="https://gitlab.com/users/sign_in" onClick="ga('send', 'event', 'link', 'click', 'Sign in');" class="sign-in-up-btn">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
